
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSMicrosoft365Report/.vs/*
library/PSMicrosoft365Report/PSMicrosoft365Report/bin/*
library/PSMicrosoft365Report/PSMicrosoft365Report/obj/*

# ignore PowerShell Studio MetaData
PSMicrosoft365Report/PSMicrosoft365Report.psproj
PSMicrosoft365Report/PSMicrosoft365Report.psproj.bak
PSMicrosoft365Report/PSMicrosoft365Report.psprojs
PSMicrosoft365Report/PSMicrosoft365Report.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*