
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSMicrosoft365UsageReport/.vs/*
library/PSMicrosoft365UsageReport/PSMicrosoft365UsageReport/bin/*
library/PSMicrosoft365UsageReport/PSMicrosoft365UsageReport/obj/*

# ignore PowerShell Studio MetaData
PSMicrosoft365UsageReport/PSMicrosoft365UsageReport.psproj
PSMicrosoft365UsageReport/PSMicrosoft365UsageReport.psproj.bak
PSMicrosoft365UsageReport/PSMicrosoft365UsageReport.psprojs
PSMicrosoft365UsageReport/PSMicrosoft365UsageReport.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*